body {
  display: flex;
}

/* Sidebar container on the left */
.sidebar {
  
  display: flex;
  gap: 40px;
}

/* Sidebar list container */
.sidebar_list {
  display: flex;
  flex-direction: row; /* Change to row for horizontal layout */
  gap: 20px;
  align-items: center;
  width: 0;
  transition: width 300ms ease;
}

/* Active state for expanding the sidebar list */
.sidebar_list_active {
  width: 300px;
}

/* Individual sidebar list item styling */
.sidebar_list_item {
  border-radius: 20%;
  height: 50px;
  width: 50px;
  list-style: none;
}

/* Sidebar image styling */
.sidebar .plusbtn {
  background-color:red;
  height:40px;
  width:40px;
  border-radius:10px;
  
}

.sidebar .plusbtn:hover {
  background-color: #ddd;
  cursor: pointer;
}



/* Other UI container on the right */
.otherUI {
  /* Add styling for the other UI elements on the right */
}
